<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>DATACORE | DASHBOARD PROFESIONAL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profesional.css') }}">
</head>
<body>
<header class="prof-header">
    <div>
        <strong>PROFESIONAL:</strong> {{ p.nombre }} {{ p.apellido_p }} 
        | 
        <strong>ROL:</strong> {{ p.nombre_rol }}
    </div>
    <a href="/logout" style="color: #fff;">SALIR</a>
</header>

    <div class="dashboard-grid">
        <aside>
            <div class="case-card">
                <h3>Menú Rápido</h3>
                <ul style="list-style: none; padding: 0;">
                    <li><a href="#">Casos Pendientes</a></li>
                    <li><a href="#">Expedientes Cerrados</a></li>
                    <li><a href="#">Agenda de Visitas</a></li>
                </ul>
            </div>
        </aside>

        <main>
            <h2>Mis Casos Asignados</h2>
            
            {% for caso in casos %}
            <div class="case-card">
                <div style="display:flex; justify-content:space-between;">
                    <h3>Folio Caso: {{ caso.folio_caso }}</h3>
                    <span class="badge-prioridad">{{ caso.prioridad }}</span>
                </div>
                <p><strong>NNA:</strong> {{ caso.nombre_nna }}</p>
                <p><strong>Última actualización:</strong> {{ caso.fecha_ultima_visita }}</p>
                <a href="/caso/detalle/{{ caso.id_caso }}" class="btn-accion">IR AL EXPEDIENTE</a>
            </div>
            {% else %}
            <div class="case-card">No tienes casos asignados actualmente.</div>
            {% endfor %}
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/boton_inicio.js') }}"></script>
</body>
</html>