<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CORE-NNA LOGIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="box">
        <h2>CORE-NNA</h2>
        <h2>Inicio de sesion</h2>
        <form action="/login" method="POST">
            <input type="email" name="correo" placeholder="EMAIL" required>
            <input type="password" name="password1" placeholder="PASSWORD" required>
            <button type="submit">LOGIN</button>
        </form>


    
</body>
</html>